{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
    <div class="col">
    </div>
    <h1> This is the About Page
    </h1> 
    <p> This is some information about me</p>
    <p>this came from the handeler {{index .StringMap "test"}}</p>

    </div>  

    </div>   
    </div>  
{{end}}