{{template "base" .}}

{{define "content"}}
<div class="container">
                <div class="row">
                    <img src="https://hips.hearstapps.com/hmg-prod/images/sitting-rooms-hilliard-locust-18-11-20-1578948041.jpg" class="img-fluid" >
                </div>
      <div class="row">
        <div class="col">
            <h1 class="text-center" mt-4>General's's Room</h1>
            <p> Your Home Away from home, situated on the majestic Lake ontario. This will be a vacation to remeber </p>
            <p>Nestled on the Shores of Lake Ontario: A Bed and Breakfast Retreat

                Escape the hustle and bustle of city life and immerse yourself in the tranquil beauty of Lake Ontario at [Bed and Breakfast Name], a charming haven where relaxation and rejuvenation await. Our idyllic location, just steps from the shimmering waters and breathtaking sunsets, provides the perfect backdrop for a memorable getaway.
                
                Accommodations that Embrace Comfort and Serenity
                
                Step into our elegantly appointed guest rooms, each thoughtfully designed to provide a sanctuary of comfort and tranquility. Unwind in plush king-sized beds, adorned with luxurious linens, and awaken each morning to the gentle sounds of waves lapping against the shore. Our rooms feature a harmonious blend of modern amenities and classic elegance, ensuring a truly exceptional stay.
                
                </p>
        </div>
      </div>
     <div class="row">
        <div class="col text-center">
            <a href="/make-reservation" class="btn btn-success">Check Availability</a>
        </div>
     </div>
      </div>
      
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   
{{end}}