{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
    <div class="col">
    </div>
    <h1> This is the Home Page
    </h1> 
    <p> This is some information about me</p>
    <p>this came from the handeler {{index .StringMap "test"}}</p>
    <img src="https://images.unsplash.com/photo-1564013799919-ab600027ffc6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwaG91c2V8ZW58MHx8MHx8fDA%3D" >

    </div>  

    </div>   
    </div>  
{{end}}